@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
:root{
  --bege: #fef2da;
  --preto: #140b0d;
  --marrom: #783719;
  --marrom2: #44160c;
  --vermelho: #9c0f0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Old London";
  src: url("../fonts/old-london.regular.ttf") format("truetype");
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Times New Roman", sans-serif;
  min-height: 100vh;
  width: 100%;
  background:var(--bege) ;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Old London", sans-serif;
  font-size: 65px;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  color: var(--preto);
  margin-bottom: 30px;
}

main {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.heading {
  width: 92%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 10px 0;
  border-top: 5px solid var(--preto);
  border-bottom: 5px solid var(--preto);
  position: relative;
}

.heading img{
  width: 40%;
  height: 100%;
}

.heading::before {
  width: 100%;
  content: "";
  height: 2px;
  background: var(--preto);
  margin-top: -8px;
}

.heading::after {
  width: 100%;
  content: "";
  height: 2px;
  background: var(--preto);
  margin-bottom: -8px;
}

nav {
  display: flex;
  width: 92%;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  font-size: 17px;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: var(--preto);
  font-family: "Dela Gothic One";
}

nav .nome {
  margin-right: auto;
  font-family: "Dela Gothic One";
  font-size: 27px;
  color: var(--vermelho);
}
.referencia:hover{
  text-decoration: underline;
  color: var(--vermelho);
}

.section-1 {
  width: 92%;
  min-height: 100vh;
  border: 4px solid var(--marrom2);
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  position: relative;
}


.section-1 .content {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.section-1 .content .text {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: justify;
  gap: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  font-size: 21px ;
  line-height: 1.4;
}
 p{
  margin-bottom: 10px;
  hyphens: auto;
}

.recuo{
  text-indent: 5%;
}

.intolerancia {
  min-height: 90%;
  margin-left: 2px;
  border-radius: 10px;
}

.intolerancia img {
  width: 100%;
  height: 100%;
}

 p span {
  font-size: 60px;
  float: left;
  margin-right: 6px;
  font-weight: bold;
  line-height: 1;
  background: var(--vermelho);
  color: var(--bege);
  padding: 5px;
}

.section-2,
.section-3,
.section-4 {
  width: 95%;
  margin: 10px;
  padding: 20px;
}

.content {
  display: flex;
  gap: 20px;
}

.section-2 .content .text {
  width: 70%;
  line-height: 1.4;
}

 p {
  text-align: justify;
  line-height: 1.4;
  font-size: 21px;
}

 h2 {
  position: relative;
  border-top: 5px solid var(--marrom2);
  border-bottom: 5px solid var(--marrom2); 
}

 h2::before {
  width: 100%;
  content: "";
  height: 2px;
  background: var(--marrom2);
  position: absolute;
  left: 0;
  top: 2px;
}

 h2::after {
  width: 100%;
  content: "";
  height: 2px;
  background: var(--marrom2);
  position: absolute;
  left: 0;
  bottom: 2px;
}

.content .image {
  width: 30%;
  filter: grayscale(90%);
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#atores{
  width: 92%;
  position: relative;
  border-top: 5px solid var(--marrom2);
  border-bottom: 5px solid var(--marrom2);
}
#atores::before {
  width: 100%;
  content: "";
  height: 2px;
  background: var(--marrom2);
  position: absolute;
  left: 0;
  top: 2px;
}

#atores::after {
  width: 100%;
  content: "";
  height: 2px;
  background: var(--marrom2);
  position: absolute;
  left: 0;
  bottom: 2px;
}

.carousel-container {
  position: relative;
  width: 92%;
  overflow: hidden;
  border: 4px solid var(--preto);
  background-color: var(--bege);

}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  padding: 30px;
  line-height: 1.6;
  display: flex;
  flex-direction: row;
  text-align: justify;
  font-size: 18px;
  align-items: center;
}
.carousel-item h3{
  font-size: 35px;
}

.carousel-item img {
  max-width: 22%;
  height: auto;
  margin-bottom: 15px;
  border: 3px solid var(--preto);
  margin-right: 30px;
  border-radius: 10px;
}
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--vermelho);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  z-index: 1;
  opacity: 0.5;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.carousel-button:hover {
  background-color: var(--marrom2);
}

.filmes{
  width: 92%;
}
.title{
  text-align: center;
  color: var(--marrom2);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 4vh;
  font-family: "Dela Gothic One";
}

.item-filme{
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
}
.card{
  position: relative;
  flex: 1 1 22%;
  aspect-ratio: 13 / 20;
  overflow: hidden;
  cursor: zoom-in;
  transition: 0.5s;
  min-height: 100%;
  min-width: 260px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.card img{
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 90%;
}
.card-content{
  position: absolute;
  left: 0;
  padding: 1em;
  bottom: 0;
  border-bottom: none;
  width: 100%;
  height: 25%;
  overflow-y: hidden;
  padding: 10px 15px;
  background: var(--marrom);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  transform: translateY(100%);
  transition: height .5s ease;
}
.card-content .info{
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5 ease, opacity 0.5 ease;
  font-size: 0.9em;
}

.card:hover .card-content {
  transform: translateY(0%);
  background-color: var(--marrom);
  color: var(--bege);
  height: 49%;
}
.card:hover .card-content .info{
  max-height: 100%;
  opacity: 1;
}
.titulo-card{
  font-size: 1.15rem;
  font-family: "Dela Gothic One";
  font-weight: 500;
}

.section-4 .content{
  column-count: 2;
  column-gap: 1.5rem; 
}

.poderoso{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction:column;
  color: var(--vermelho);
}
.poderoso h4{
  text-align: center;
  margin-bottom: 2vh;
}
.cards{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.cards-poderosos{
  width: 100%;
  height: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
  gap: 10px;
}
.cards-poderosos a{
  text-decoration: none;
}
.cards-poderosos h3{
  font-size: 30px;
  color: var(--vermelho);
}
.cards-poderosos a:hover{
  text-decoration: underline;
  color: var(--vermelho);
}
.cards-poderosos img{
  width: 100%;
  height: 90%;
  border-radius: 10px;
}

.footer {
  background-color: var(--bege);
  color: var(--preto);
  font-family: "Dela Gothic One ";
  padding: 30px 20px;
  border-top: 3px solid var(--marrom2);
  letter-spacing: 0.8px;
  line-height: 1.4;
}

.footer .footer-content {
  margin: 0 auto;
  
}

.footer p {
  margin: 8px 0;
  font-size: 17px;
  text-align: center;
}

.footer p:first-child {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px dashed var(--vermelho);
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.footer p:last-child{
  color: var(--vermelho);
}

@media screen and (max-width: 500px){

  main {
    width: 100%;
    margin: 0 auto;
  }

  .heading img {
    width: 75%;
  }

  nav {
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
  }

  .referencia{
    display: flex;
    flex-direction: column;
  }

  nav .nome {
    font-size: 20px;
    margin: 0;
  }

  h1,
  h2 {
    font-size: 35px;
    padding: 10px;
    height:  55px;
  }

  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  p{
    font-size: 16px;
  }

  .section-2{
    width: 100%;
  }

  .section-1 .content .text,
  .section-2 .content .text{
    width: 100%;
  }

  .section-2 .content .image,
  .image {
    width: 90%;
  }

  p span {
    font-size: 35px;
  }
  .section-1 .content .text{
    flex-direction: column;
  }
  .intolerancia {
    margin-top: 20px; 
    width: 70%;
    margin-left: 30px;
  }
  .intolerancia img {
    width: 100%;
    height: auto; 
  }
  .section-2 img{
    width: 70%;
  }

  .carousel-item{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .carousel-item {
    flex-direction: column;
    padding: 20px;
    font-size: 16px;
    text-align: justify;
  }
  .carousel-item h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
  }
   .carousel-item img {
    max-width: 60%;
    margin: 0 auto 20px auto;
  }
  .carousel-button {
    padding: 8px;
    font-size: 16px;
    opacity: 0.8;
  }
 
  .filmes .item-filme {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .card {
    width: 50%;
    flex: 1 1 100%;
  }

  .card-content {
    height: auto;
    padding: 10px;
  }

  .card:hover .card-content {
    height: auto;
  }

  .card:hover .card-content .info {
    opacity: 1;
  }

  .titulo-card {
    font-size: 1rem;
  }

  .poderoso {
    width: 80%;
  }

  .cards {
    flex-direction: column;
    gap: 1rem;
  }

  .poderoso h4 {
    font-size: 1rem;
  }

  .cards-poderosos {
    padding: 10px;
    width: 70%;
  }

   .cards-poderosos h3 {
    font-size: 22px;
  }


  .cards-poderosos img {
    width: 100%;
    height: auto;
  }

  .footer {
    padding: 20px 10px;
    font-size: 15px;
  }

  .footer p {
    font-size: 11px;
  }

  .footer p:first-child {
    font-size: 13px;
  }
}
